html, body {
    padding: 0;
    margin: 0;
    background: #333;
}

body {
    color: #fff;
}

body, p, span, button {
    font-family: 'Roboto', sans-serif;
}

#game-grid {
    display: inline-grid;
    padding: 0;
    list-style-type: none;
    grid-template-columns: repeat(3, 100px);
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

#game-grid > li {
    display: inline-block;
    color: #fff;
    height: 100px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

#game-grid > li[data-drawing="x"] {
    background: url("./img/x.png") no-repeat;
}

#game-grid > li[data-drawing="o"] {
    background: url("./img/o.png") no-repeat;
}

main[data-state="idle"] #game-result,
main[data-state="playing"] #game-result {
    display: none;
}